export("refIDtoIndex", "processPointMap", "processPointMapAndLinks", "matchPointsToLines", "getTopFeatures")
export("getShapeGraph", "getPointmapData", "getPointmapLinks", "getPointmapDataAndLinks")
export("isovist", "makeIsovists", "stepdepth", "export", "convertMap", "cliHelp", "import", "importLines")
export("VGA", "axialAnalysis", "segmentAnalysis", "linkMapCoords", "linkMapRefs", "agentAnalysis")
export("makeDepthmapClassicColour", "depthmap.classic.colour")
export("makeAxmanesqueColour", "depthmap.axmanesque.colour")
export("makePurpleOrangeColour", "depthmap.purpleorange.colour")
export("makeBlueRedColour", "depthmap.bluered.colour")
export("makeGreyScaleColour", "depthmap.grayscale.colour")
export("makeNiceHSBColour", "depthmap.nicehsb.colour")

import("sp", "rgdal", "maptools")
importFrom("utils", "read.csv", "write.table", "tail")
